<footer>
    <div class="container">
        <div class="column">
            <h2>Sites</h2>
            <ul>
                <li><a routerLink="games" >{{labels.gamesMenuItem}}</a></li>
                <li><a routerLink="genres" >{{labels.genresMenuItem}}</a></li>
                <li><a routerLink="publisher" >{{labels.publishersMenuItem}}</a></li>
                <li><a routerLink="orders" >{{labels.ordersMenuItem}}</a></li>
                <li><a routerLink="basket" >{{labels.basketMenuItem}}</a></li>


            </ul>
        </div>
        <div class="column">
            <h2>Company Information</h2>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </div>
        <div class="column">
            <h2>Socials</h2>
        <ul>
           <li>
            <span class="social-icons">
                <a href="#"> <img src="/assets/img/Icons/twitter-svgrepo-com.svg" alt="twitter"/></a>
            </span>
            <span class="social-icons">
                <a href="#"> <img src="/assets/img/Icons/instagram-logo-svgrepo-com.svg" alt="instagram"/></a>
            </span>
            <span class="social-icons">
                <a href="#"> <img src="/assets/img/Icons/facebook-svgrepo-com.svg" alt="facebook"/></a>
            </span>
        </li>
        </ul>
        </div>
    </div>
    <br>
    <div class ="container">
        <div class ="column">
        <span><h5>@ 2023-2024 All Rights are reserved</h5></span>
    </div>
    </div>
</footer>