<div class="page-wrapper__row">
  <div class="page-wrapper__content">
    <div class="label-back_body">
      <a>Go back to game list</a>
    </div>
    <div class="content__media">
      <div class="media__top-picture">
        <img src="https://placehold.co/160x115" alt="gameName" class="resizable-image"/>
        <img src="/assets/img/Icons/Play Icon.svg" alt="play" />
        <img src="/assets/img/Icons/Arrow Right.svg" alt="arrow left" />
        <img src="/assets/img/Icons/Arrow Right.svg" alt="arrow right" />
      </div>
      <div class="media__row"></div>
      <div class="media__slider">
        <img src="https://placehold.co/160x115" alt="media 1" />
        <img src="https://placehold.co/160x115" alt="media 2" />
        <img src="https://placehold.co/160x115" alt="media 3" />
      </div>
    </div>

    

    <div class="content__info">
      <div class="info__row">
        <div class="info__title">{{ gameValue?.name }}</div>
        <div class="likes__stars__row">
  <div class="simple__rating">
    <div class="simple-rating__items">
      <input id="simple_rating__5" type="radio" class="simple-rating__item" name="rating1" value="5" />
      <label for="simple_rating__5" class="simple-rating__label"></label>

      <input id="simple_rating__4" type="radio" class="simple-rating__item" name="rating1" value="4" />
      <label for="simple_rating__4" class="simple-rating__label"></label>

      <input id="simple_rating__3" type="radio" class="simple-rating__item" name="rating1" value="3" />
      <label for="simple_rating__3" class="simple-rating__label"></label>

      <input id="simple_rating__2" type="radio" class="simple-rating__item" name="rating1" value="2" />
      <label for="simple_rating__2" class="simple-rating__label"></label>

      <input id="simple_rating__1" type="radio" class="simple-rating__item" name="rating1" value="1" />
      <label for="simple_rating__1" class="simple-rating__label"></label>
    </div>
  </div>
</div>
<div class="info__section__row">
  <div class="section__price" style="text-decoration: line-through;">{{gameValue?.price}}</div>
  <div class="section__price">23</div>
</div>

        <div class="line"></div>

        <div class="info__publisher">
          <div class="publisher__title info-title">
            Company Name
          </div>
          <div class="publisher__release info-details">
            Released Date
          </div>
        </div>

        <div class="info__platform">
          Platforms Info List
        </div>

        <div class="info__genres">
          Genre Info List
        </div>

        <div class="info__buttons">
          <div class="info_add-to-cart">
            <button>Buy</button>
          </div>
        </div>

        <div class="line"></div>

        <div class="info__description">
          <div class="description__title">Game Description
          </div>
          <div class="description_details info-details">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="page-wrapper__comments">
    <div class="comments__title">
      <div class="comments__box">
        <div class="box__quantity">
          Comments Length
        </div>
      </div>
      <div class="comments__write">
        Write Comment
      </div>
    </div>

    <div class="comment__item">
      Gamestore Comments
    </div>
  </div>
</div>