<header>
  <div class="top">
    <div class="logo">
      <a href="#">Your Logo</a>
    </div>
    <div class="links">
      <a routerLink="games">{{ labels.gamesMenuItem }}</a>
      <a routerLink="genres">{{ labels.genresMenuItem }}</a>
      <a routerLink="publisher">{{ labels.publishersMenuItem }}</a>
      <a routerLink="orders">{{ labels.ordersMenuItem }}</a>
      <a routerLink="{{ links.get(pageRoutes.Basket) }}">{{ labels.basketMenuItem }}</a>
    </div>
  </div>
  <div class="title-text">
    <h1>What Can Make Your</h1>
    <h1>Life Easier?</h1>
    <p>Empowered Solution with Simple Process.</p>
  </div>
</header>