<div class="card-container">
    <div class="card">
        <h1>Get In touch</h1>
        <form>
            <input type="text" id="name" name="name" placeholder="Your Name">
            <input type="email" id="email" name="email" placeholder="Your Email">
            <textarea id="message" name="message" placeholder="Your Message"></textarea>
            <button type="submit">Submit</button>
        </form>
        
    </div>

    <div class="card">
        <h1>Updates from Twitter</h1>
        <div class="border-bottom">
            <p>Devil May Cry</p>
            <a href="#" class="orangeLink">www.google.com</a>
            <p class="small">something</p>
            
        </div><div class="border-bottom">
            <p>Devil May Cry</p>
            <a href="#" class="orangeLink">www.google.com</a>
            <p class="small">something</p>
            
        </div><div class="border-bottom">
            <p>Devil May Cry</p>
            <a href="#" class="orangeLink">www.google.com</a>
            <p class="small">something</p>
            
        </div>
        
        <button type="submit">Follow Us</button>
    </div>

    <div class="card">
        <h1>From the Blog</h1>
        <p class="border-bottom">Greetings from Twitter 1</p>
        <p class="border-bottom">Greetings from Twitter 2</p>
        <p class="border-bottom">Greetings from Twitter 3</p>
        
        <button type="submit">Submit</button>
    </div>
</div>